extends ../layout
block content
    h1.display-data Location format options
    ul
       li Addresses. E.g.: 86 Brattle Street Cambridge, MA 02138
       li City names and abbreviations. E.g.: Los Angeles, or LA
       li State names and abbreviations. E.g.: California, or CA
       li Country names
       li Zip codes

    .form-actions
        a.btn.btn-warning(href="/items") Items


