extends ../../layout

block content
    h1.display-data Donors Descriptions
    mixin donors(name, description)
        h4 #{name}
        p #{description}
    .form-actions
        a.btn.btn-primary.pull-left(href="/") Home