extends ../layout

block content
  h2.display-data Item Detail
  img(src='/images/' + item.imageFileNames[0] width="300" height="auto" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  img(src='/images/' + item.imageFileNames[1] width="300" height="auto" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  img(src='/images/' + item.imageFileNames[2] width="300" height="auto" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  br
  img(src='/images/' + item.imageFileNames[3] width="300" height="auto" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  img(src='/images/' + item.imageFileNames[4] width="300" height="auto" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  img(src='/images/' + item.imageFileNames[5] width="300" height="auto" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Title
          td= display(item.title)
        tr
          td Description
          td= display(item.description)
        tr
          td Category
          td= display(item.category)
        tr
          td Condition
            a(href="/conditions/", target="_blank", title="Conditions")
              i.glyphicon.glyphicon-info-sign
          td= display(item.condition)

  .form-actions
    a.btn.btn-warning(href="/items") Back
    |
    a.btn.btn-primary(href="/items/" + item._id + "/edit") Edit
    |
    a.btn.btn-danger(href="/items/" + item._id + "/delete") Delete
