extends ../layout
include ../mixins/form-helpers

block content
  img(src='/images/' + item.imageFileNames[0] width="300" height="150" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  img(src='/images/' + item.imageFileNames[1] width="300" height="150" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  img(src='/images/' + item.imageFileNames[2] width="300" height="150" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  img(src='/images/' + item.imageFileNames[3] width="300" height="150" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
  form#item-form(action="/items/" + item._id + "/edit", method="POST", role="form")
    fieldset
      legend Image Upload
  br

  form(action="/items/" + item._id + "/uploadimage", method="post", enctype="multipart/form-data")
    input(type="file", name="displayImage")
    input(type="submit", value="Upload")

  form(action="/items/" + item._id + "/deleteimage", method="post")
     button(type="submit") Delete

  br
  .form-actions
  a.btn.btn-warning(href="/items/" + item._id + "/edit") Back
  |
  a.btn.btn-primary(href="/items/" + item._id + "/detail") Done