//
   Created by arleena.faith on 11/14/2015.

extends layout

block content
    div.left
        p
        p Medical Interchange is a non-profit organization started by Dr. Cyril Allen in 2015.
        p Dr. Allen wanted to help medical institutions based in third world countries improve their capabilities by providing a website which enabled medical equipment donors and recipients to exchange medical equipment and supplies.
        p
        p Medical Interchange is currently under development and new website features to improve the user experience are in progress.
        p Please contact us if you have any questions or comments.
        p
        br
        p
        a.btn.btn-primary(href="/contact") Contact Us
    div.right
        if (!user)
            a.login(href="/login") Login
            br
            a.register(href="/register") Register
        if (user)
            p You are currently logged in as #{user.username}
            a.login(href="/logout") Logout
