extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p
      |  You are currently logged in as
      b  #{user.username}
      |  with a role of
      b  #{user.role}
    a(href="/logout") Logout
