extends ../layout
block content
    h1.display-data Condition Descriptions
    mixin condition(name, description)
        h4 #{name}
        p #{description}
    +condition("New", "Item has never been used and is still in packaging.")
    +condition("New - Expired", "Unopened/unused, but past its recommended expiration.")
    +condition("Used - Like new", "Item has been taken out of packaging or has only been used once or twice. No signs of wear.")
    +condition("Used - Great", "Item has been used at least a handful of times. Minimal signs of wear and completely functional.")
    +condition("Used - Good", "Item has been used numerous times. Signs of wear and completely functional.")
    +condition("Used - Fair", "Item has been used frequently. Wear present and mostly functional.")
    +condition("Used - Poor", "Heavy signs of wear and only partially functional.")
    .form-actions
        a.btn.btn-warning(href="/items") Items