extends ../../layout

block content
    h1.display-data Beneficiaries Descriptions
    mixin beneficiaries(name, description)
        h4 #{name}
        p #{description}
    .form-actions
        a.btn.btn-warning(href="/") Home